<html>
    <head>
        <title>Dart Scoreboard</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" media="all" href="{{ url_for('.static', filename='css/scoreboard.css')}}">
    </head>

    <body>

        <div class="container-fluid min-100" id="main-content">
            <div class = "row header" style = "height: 10%">
                <div class= "m-4 col text-center">
                    <h1>Dart Scoreboard</h1>
                </div>
            </div>
            <div class = "row d-flex sidebar" style = "height: 65%">
                <div class="col my-auto">
                    <div class = "text-center" id = "player1">
                        <h1 class = "name-display">Player 1</h1>
                        <p class="score-display">301</p>
                    </div>
                </div>
                <div class="col my-auto">
                    <div class = "text-center" id = "player2">
                        <h1 class = "name-display">Player 2</h1>
                        <p class="score-display">301</p>
                    </div>
                </div>
            </div>
            <div class = "row footer" style="height: 25%">
                <p>Statistics and Player Info</p>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
