<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script type="text/javascript">


document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('area').forEach(area => {
        area.onclick = () => {
            const request = new XMLHttpRequest();
            //you can call certain methods by changing the /oooo to something
            //specified by what was clicked. Here is a link that can help with it
            //https://iq.opengenus.org/single-page-application-with-flask-ajax/#:~:text=The%20Javascript%20part%20sends%20requests%20%28requests%20for%20information%29,sends%20back%20the%20required%20information%20to%20the%20front-end.

            request.onload = () => {
                const response = request.responseText;
                document.getElementById('headerTitle').innerHTML = response;
             }; 
            data = {information:"I am testing the send JSON", age:"5"}
            request.open('POST', '/baseCaseSendInformation');
            request.send(JSON.stringify(data));
          };
    });    
});

</script>

<html>
    <head>
        <title>Dart MATCH START UP AND OTHER INFORMATION</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" media="all" href="{{ url_for('.static', filename='css/startmatch.css')}}">

    </head>

    <body style = "max-height: 100%">

        <div class="container-fluid" id="main-content" style = "max-height: 100%">
            <div class = "row header" style = "max-height: 10%">
                <div class= "m-4 col text-center">
                    <h1 id='headerTitle'>Dart MATCH START UP AND OTHER INFORMATION</h1>
                </div>
            </div>
            <div class = "row" style = "height: 85%">
                <div class = "col-3 sidebar h-100" id = "side-menu" style = "overflow: auto;">

                    <h3 class="mt-3">Display Players, needs to be dynamic for players in database</h3>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="playerStatsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            PLAYER NAME IG
                        </button>
                        <div class="dropdown-menu" aria-labelledby="playerStatsDropdown">
                          <a class="dropdown-item" href="#">needs to be dynamic</a>
                          <a class="dropdown-item" href="#">needs to be dynamic</a>
                          <a class="dropdown-item" href="#">needs to be dynamic</a>
                        </div>
                    </div>
                    <h3 class="mt-3">IDK LIKE START MATCH FOR SOMETHING</h3>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="matchStatsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            JUST NEED TO HAVE PLAYER INFORMATION ADD AND MATCH INFO ADD STUFF AND THEN WE CAN CHECK THE HISTORY TOO
                        </button>
                        <div class="dropdown-menu" aria-labelledby="matchStatsDropdown">
                          <a class="dropdown-item" href="#">Current Player League Ranks</a>
                          <a class="dropdown-item" href="#">Last Match Win</a>
                          <a class="dropdown-item" href="#">Average Player League Score</a>
                          <a class="dropdown-item" href="#">180s In Season</a>
                        </div>
                        <button class="btn btn-primary" type="button" id="StartMatchButton" data-toggle="modal" data-target = "#MatchSetupModal" aria-haspopup="true" aria-expanded="false">
                            Setup Match
                        </button>
                        <!-- Modal -->
                        <div class = "modal" id = "MatchSetupModal">
                            <div class = "modal-dialog">
                                <div class = "modal-content">
                                    <!-- Modal Header-->
                                    <div class = "modal-header">
                                        <h4 class = "modal-title"> Match Setup</h4>
                                        <button type = "button" class = "close" data-dismiss = "modal">&times;
                                        </button>
                                    </div>
                                    <!-- Modal Body-->
                                    <div class = "modal-body">
                                        <div class="dropdown">
                                            <!-- First button for Player 1-->
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="Player1SetUpDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Select Player 1
                                            </button>                                     
                                            <div class="dropdown-menu" aria-labelledby="Player1SetUpDropdown">
                                            <a class="dropdown-item" href="#">Player 1 Test Name</a>
                                            </div>
                                        </div>
                                        <div class = "dropdown">
                                             <!-- Second button for Player 2-->
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="Player2SetUpDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Select Player 2
                                            </button>                                            
                                            <div class="dropdown-menu" aria-labelledby="Player2SetUpDropdown">
                                            <a class="dropdown-item" href="#">Player 2 Test Name</a>
                                            </div>
                                        </div>
                                        <div class = "dropdown">
                                                <!-- Button to select the score amount -->
                                            <button class="btn btn-secondary dropdown-toggle" type="button" id="ScoreSetUpDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Select Score
                                            </button>                                     
                                            <div class="dropdown-menu" aria-labelledby="ScoreSetUpDropdown">
                                                <a class="dropdown-item" href="#">301</a>
                                                <a class="dropdown-item" href="#">501</a>
                                                <a class="dropdown-item" href="#">801</a>
                                            </div>
                                        </div>
                                            <!-- Modal Footer -->
                                            <div class = "modal-footer">
                                                <button type = "button" class = "btn btn-danger" data-dismiss="modal"> Close </button>
                                            </div>
                                        </div>                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "col-9 main-content text-center h-100" id = "score-input" style = "overflow: auto;">
                    <h1 id="score-preview"></h2>
                </div>
            </div>
            <div class = "row footer" style = "height: 5%">
                <p>Footer</p>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
