<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" media="all" href="{{ url_for('.static', filename='css/startmatch.css')}}">

    </head>
    <body style = "height: 100%; overflow: hidden;">
        <div class="row d-flex sidebar" style = "height: 100%" id="main-content">
            <div class = "col my-auto" style = "height: 100%">
                <div class = "main-content text-center" id = "score-input" style = "overflow: auto;">
                    <div class="overlay has-bg-img rounded h-10rem my-2" style = "padding-left: 10%; padding-right: 10%; height: 100%; background-repeat: no-repeat; background-size: 100% 100%; background-image: url('static/images/opening_screen.gif')">
                    <h1 class="header" style="padding-top: 25px;" id="Information Block">COMPETITION SCORER HOME PAGE</h1>
                        <button style="margin-top: 4%;" id = "Match-Setup" type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal" data-target = "#MatchSetupModal" aria-haspopup="true" aria-expanded="false">
                            Start New Match
                        </button>
                        <button style="margin-top: 4%;" id = "ResumeGame" type="button" class="btn btn-secondary btn-lg btn-block disabled" onClick="javascript:resumeGame()">
                            Resume Game
                        </button>
                        <button style="margin-top: 4%;" id = "ReviewMatch" type="button" class="btn btn-secondary btn-lg btn-block disabled">
                            Review Match
                        </button>  
                        <button style="margin-top: 4%;" id = "AddPlayer" type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal" data-target = "#AddPlayerModal" aria-haspopup="true" aria-expanded="false">
                            Add Player
                        </button>   
                        <button style="margin-top: 4%;" id = "Delete-Player" type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal" data-target = "#DeletePlayerModal" aria-haspopup="true" aria-expanded="false">
                            Delete Player
                        </button>
                        <button style="margin-top: 4%;" id = "Edit-Player" type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="modal" data-target = "#EditPlayerModal" aria-haspopup="true" aria-expanded="false">
                            Edit Player
                        </button>
                        
                        </div>

                </div>             
                </div>
        </div>


        <!-- MODAL FOR ADD PLAYER-->
        <div class = "modal" id = "AddPlayerModal">
            <div class = "modal-dialog">
                <div class = "modal-content header">
                    <div class = "modal-header">
                        <h4 class = "modal-title">Add Player</h4>
                        <button type = "button" class = "close" data-dismiss = "modal">&times;
                        </button>
                    </div>
                    <div class = "modal-body">
                        <div class="form-group row ">
                            <div class="col-xs-2 margin-inputtext">

                                <label for="FirstName">First Name:</label>
                                <input placeholder = First type="text" class="form-control" id="FirstName">
                            </div>
                            <div class="col-xs-3 margin-inputtext">
                                <label for="LastName">Last Name:</label>
                                <input placeholder = Last type="text" class="form-control" id="LastName">                                            
                            </div>
                          </div>

                          <div class="form-group row">
                            <div class="col-xs-2 margin-inputtext">
                                <label for="NumberOfThrows">Total Number of Throws:</label>
                                <input placeholder = 0 type="number" class="form-control" min=0 id="NumberOfThrows">
                            </div>
                            <div class="col-xs-2 margin-inputtext">
                                <label for="Bullseyes">Total Number of BullsEyes:</label>
                                <input placeholder = 0 type="number" class="form-control" min=0 id="Bullseyes">
                            </div>
                            </div>
                            <div class = "modal-footer">
                                <button id="Submit-Button" type = "button" class = "btn btn-danger" onClick="javascript:closeModal()"> Submit</button>
                                <button id="Close-Button" onClick="javascript:resetAddPlayer()" class = "btn btn-danger" data-dismiss="modal"> Close </button>
                            </div>
                        </div>                                    
                    </div>
                </div>
            </div>



        <!-- MODAL FOR  Delete Player-->
        <div class = "modal" id = "DeletePlayerModal">
            <div class = "modal-dialog">
                <div class = "modal-content header">
                    <div class = "modal-header">
                        <h4 class = "modal-title">Delete Player</h4>
                        <button type = "button" class = "close" data-dismiss = "modal">&times;
                        </button>
                    </div>
                    <div class = "modal-body">
                        <div class="form-group row ">
                            <div class="col-xs-2 margin-inputtext">
                                <div class="dropdown">
                                    <button onClick = "javascript:getPlayers('0')" class="btn dropdown-toggle" type="button" id="ChoosePlayerDropdown0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        CHOOSE PLAYER
                                    </button>
                                    <div id = "dynamic-dropdown0" class="dropdown-menu" aria-labelledby="ChoosePlayerDropdown0">
                                      <a class="dropdown-item" href="#"></a>
                                    </div>
                                </div>
                            </div>
                          </div>
                            <div class = "modal-footer">
                                <button id="Delete-Button" type = "button" class = "btn btn-danger" onClick="javascript:deletePlayer('0')"> Delete</button>
                                <button id="Close-Button" onClick="javascript:resetDynamicDropdown('ChoosePlayerDropdown0')" type = "button" class = "btn btn-danger" data-dismiss="modal"> Close </button>
                            </div>
                        </div>                                    
                    </div>
                </div>
            </div>

        <!-- MODAL FOR  Edit PLAYER-->
        <div class = "modal" id = "EditPlayerModal">
            <div class = "modal-dialog modal-lg">
                <div class = "modal-content header">
                    <div class = "modal-header">
                        <h4 class = "modal-title">Edit Player</h4>
                        <button type = "button" class = "close" data-dismiss = "modal">&times;
                        </button>
                    </div>
                    <div class = "modal-body" id="editPlayer-ModalBody">
                        <div class="form-group row ">
                            <div class="col-xs-2 margin-inputtext">
                                <div class="dropdown">
                                    <button onClick = "javascript:getPlayers('1')" class="btn dropdown-toggle" type="button" id="ChoosePlayerDropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Choose Player
                                    </button>
                                    <div id = "dynamic-dropdown1" class="dropdown-menu" aria-labelledby="ChoosePlayerDropdown1">
                                      <a class="dropdown-item" href="#"></a>
                                    </div>
                                </div>
                            </div>
                          </div>
                            <div class = "modal-footer" id="editPlayer-ModalFooter">
                                <button id="Edit-Button" onClick="javascript:displayEditTable()" type = "button" class = "btn btn-danger"> Edit Player</button>
                                <button id="Close-Button" type = "button" class = "btn btn-danger" data-dismiss="modal" onClick="javascript:resetEditPlayer()" > Close </button>
                            </div>
                        </div>                                    
                    </div>
                </div>
            </div>

        <!-- MODAL FOR NOTIFICATIONS-->
        <div class = "modal" id = "NotificationModal">
            <div class = "modal-dialog-lg">
                <div class = "modal-content notification">
                    <div class = "modal-header">
                        <h4 class = "modal-title">NOTIFICATION</h4>
                    </div>
                    <div class = "modal-body">
                            <h1 id="ErrorText"></h1>
                            <div class = "modal-footer">
                                <button id="Okay-Button" type = "button" class = "btn btn-danger" data-dismiss="modal"> Okay </button>
                            </div>
                        </div>                                    
                    </div>
                </div>
            </div> 


        <!-- MODAL FOR MATCH SETUP -->
        <div class = "modal" id = "MatchSetupModal">
            <div class = "modal-dialog">
                <div class = "modal-content header">
                    <!-- Modal Header-->
                    <div class = "modal-header">
                        <h4 class = "modal-title"> Match Setup</h4>
                        <button type = "button" class = "close" data-dismiss = "modal">&times;
                        </button>
                    </div>
                    <!-- Modal Body-->
                    <div class = "modal-body">
                        <div class="form-group row">
                            <div class="col-xs-2 margin-inputtext">
                                <div class="dropdown">
                                    <!-- First button for Player 1-->
                                    <button onClick = "javascript:getPlayers('2')" class="btn dropdown-toggle" type="button" id="ChoosePlayerDropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select Player 1
                                    </button>
                                    <div id = "dynamic-dropdown2" class="dropdown-menu" aria-labelledby="Player1SetUpDropdown">
                                        <a class="dropdown-item" href="#"></a>
                                    </div>
                                </div>
                            </div>
                            <div class = "dropdown">
                                <div class="col-xs-2 margin-inputtext">
                                <!-- Second button for Player 2-->
                                    <button onClick = "javascript:getPlayers('3')" class="btn dropdown-toggle" type="button" id="ChoosePlayerDropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Select Player 2
                                    </button>
                                    <div id = "dynamic-dropdown3" class="dropdown-menu" aria-labelledby="Player2SetUpDropdown">
                                        <a class="dropdown-item" href="#"></a>
                                    </div>
                                </div>
                            </div>
                            </div>
                        <div class="form-group row">
                            <div class="col-xs-2 margin-inputtext">
                                <div class="mdb-select md-form">
                                    <select class="form-control" id="ScoreSelect">
                                    <option value="" disabled selected>Score</option>
                                      <option>301</option>
                                      <option>501</option>
                                      <option>801</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-2 margin-inputtext">
                            <div class="mdb-select md-form">
                                <select class="form-control" id="MatchTypeSelect">
                                    <option value="" disabled selected>Match Type</option>
                                    <option onClick="javascript:hideSets()">Game</option>
                                    <option onClick="javascript:showSets()">Championship</option>
                                </select>
                            </div>
                        </div>
                        </div>

                <div class="form-group row">
                    <div id="setsPicker" class="col-xs-2 margin-inputtext" style="display: none">
                        <label for="NumberOfSets"> Number of Sets:</label>
                        <input placeholder = 1 type="number" class="form-control" min=1 id="NumberOfSets">
                    </div>
                
                    <div class="col-xs-2 margin-inputtext">
                        <label for="NumberOfLegs"> Number of Legs:</label>
                        <input placeholder = 1 type="number" class="form-control" min=1 id="NumberOfLegs">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-2 margin-inputtext">
                        <label for="Official"> Official Name:</label>
                        <input placeholder = "Official" type="string" class="form-control" min=0 id="Official">
                    </div>
                    <div class="col-xs-2 margin-inputtext">
                        <label for="MatchLocation"> Match Location:</label>
                        <input placeholder = "Location" type="string" class="form-control" min=0 id="MatchLocation">
                    </div>
                    <div class="col-xs-2 margin-inputtext">
                        <label for="MatchDate"> Match Date:</label>
                        <input placeholder = "Date" type="date" class="form-control" min=0 id="MatchDate">
                    </div>
                </div>
                    <!-- Modal Footer -->
                    <div class = "modal-footer">
                        <button onClick = "javascript:closeMatchModal()" type = "button"  class = "btn btn-danger" data-dismiss="modal"> Start Match </button>
                        <button onClick ="javascript:resetSetupMatch()" type = "button" class = "btn btn-danger" data-dismiss="modal"> Close </button>
                    </div>
                                                  
            </div>
            </div>
        </div>
        </div>
            
            
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="{{ url_for('.static', filename='javascript/startmatch.js')}}"></script>
        <script src="{{ url_for('.static', filename='javascript/matchsetup-modal.js')}}"></script>
        <script src="{{ url_for('.static', filename='javascript/addplayer-modal.js')}}"></script>
        <script src="{{ url_for('.static', filename='javascript/deleteplayer-modal.js')}}"></script>
        <script src="{{ url_for('.static', filename='javascript/editplayer-modal.js')}}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
