<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


<html>
    <head>
        <title>Dart MATCH START UP AND OTHER INFORMATION</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" media="all" href="{{ url_for('.static', filename='css/startmatch.css')}}">

    </head>

    <body style = "max-height: 100%">

        <div class="container-fluid" id="main-content" style = "max-height: 100%">
            <div class = "row header" style = "max-height: 10%">
                <div class= "m-4 col text-center">
                    <h1 id='headerTitle'>STUFF</h1>
                </div>
            </div>
            <div class = "row" style = "height: 90%">
                <div class = "col-3 sidebar h-100" id = "side-menu" style = "overflow: auto;">

                    <h3 class="mt-3">Display Players, needs to be dynamic for players in database</h3>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="playerStatsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            PLAYER NAME IG
                        </button>
                        <div class="dropdown-menu" aria-labelledby="playerStatsDropdown">
                          <a class="dropdown-item" href="#">needs to be dynamic</a>
                          <a class="dropdown-item" href="#">needs to be dynamic</a>
                          <a class="dropdown-item" href="#">needs to be dynamic</a>
                        </div>
                    </div>
                    <h3 class="mt-3">STUFF</h3>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="matchStatsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            STUFF
                        </button>
                        <div class="dropdown-menu" aria-labelledby="matchStatsDropdown">
                          <a class="dropdown-item" href="#">Current Player League Ranks</a>
                          <a class="dropdown-item" href="#">Last Match Win</a>
                          <a class="dropdown-item" href="#">Average Player League Score</a>
                          <a class="dropdown-item" href="#">180s In Season</a>
                        </div>
                        <button class="btn btn-secondary" type="button" id="StartMatchButton" data-toggle="modal" data-target = "#MatchSetupModal" aria-haspopup="true" aria-expanded="false">
                            Setup Match
                        </button>
                    </div>
                </div>
                <div class = "col-9 main-content text-center h-100" id = "score-input" style = "overflow: auto;">
                    <h1 id="Information Block"></h2>
                        <button id = "AddPlayer" type="button" class="btn btn-secondary" data-toggle="modal" data-target = "#AddPlayerModal" aria-haspopup="true" aria-expanded="false">
                            Add Player
                        </button>   
                        <button id = "Delete-Player" type="button" class="btn btn-secondary" data-toggle="modal" data-target = "#DeletePlayerModal" aria-haspopup="true" aria-expanded="false">
                            Delete Player
                        </button>
                        <button id = "Edit-Player" type="button" class="btn btn-secondary" data-toggle="modal" data-target = "#EditPlayerModal" aria-haspopup="true" aria-expanded="false">
                            Edit Player
                        </button>                               
                </div>
        </div>


        <!-- MODAL FOR ADD PLAYER-->
        <div class = "modal" id = "AddPlayerModal">
            <div class = "modal-dialog">
                <div class = "modal-content header">
                    <div class = "modal-header">
                        <h4 class = "modal-title">Add Player</h4>
                        <button type = "button" class = "close" data-dismiss = "modal">&times;
                        </button>
                    </div>
                    <div class = "modal-body">
                        <div class="form-group row ">
                            <div class="col-xs-2 margin-inputtext">

                                <label for="FirstName">First Name:</label>
                                <input placeholder = First type="text" class="form-control" id="FirstName">
                            </div>
                            <div class="col-xs-3 margin-inputtext">
                                <label for="LastName">Last Name:</label>
                                <input placeholder = Last type="text" class="form-control" id="LastName">                                            
                            </div>
                          </div>

                          <div class="form-group row">
                            <div class="col-xs-2 margin-inputtext">
                                <label for="NumberOfThrows">Total Number of Throws:</label>
                                <input placeholder = 0 type="number" class="form-control" min=0 id="NumberOfThrows">
                            </div>
                            <div class="col-xs-2 margin-inputtext">
                                <label for="Bullseyes">Total Number of BullsEyes:</label>
                                <input placeholder = 0 type="number" class="form-control" min=0 id="Bullseyes">
                            </div>
                            </div>
                            <div class = "modal-footer">
                                <button id="Submit-Button" type = "button" class = "btn btn-danger" onClick="javascript:closeModal()"> Submit</button>
                                <button id="Close-Button" onClick="javascript:resetAddPlayer()" class = "btn btn-danger" data-dismiss="modal"> Close </button>
                            </div>
                        </div>                                    
                    </div>
                </div>
            </div>



        <!-- MODAL FOR  Delete Player-->
        <div class = "modal" id = "DeletePlayerModal">
            <div class = "modal-dialog">
                <div class = "modal-content header">
                    <div class = "modal-header">
                        <h4 class = "modal-title">Delete Player</h4>
                        <button type = "button" class = "close" data-dismiss = "modal">&times;
                        </button>
                    </div>
                    <div class = "modal-body">
                        <div class="form-group row ">
                            <div class="col-xs-2 margin-inputtext">
                                <div class="dropdown">
                                    <button onClick = "javascript:getPlayers('0')" class="btn dropdown-toggle" type="button" id="ChoosePlayerDropdown0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        CHOOSE PLAYER
                                    </button>
                                    <div id = "dynamic-dropdown0" class="dropdown-menu" aria-labelledby="ChoosePlayerDropdown0">
                                      <a class="dropdown-item" href="#"></a>
                                    </div>
                                </div>
                            </div>
                          </div>
                            <div class = "modal-footer">
                                <button id="Delete-Button" type = "button" class = "btn btn-danger" onClick="javascript:deletePlayer('0')"> Delete</button>
                                <button id="Close-Button" onClick="javascript:resetDynamicDropdown('ChoosePlayerDropdown0')" type = "button" class = "btn btn-danger" data-dismiss="modal"> Close </button>
                            </div>
                        </div>                                    
                    </div>
                </div>
            </div>

        <!-- MODAL FOR  Edit PLAYER-->
        <div class = "modal" id = "EditPlayerModal">
            <div class = "modal-dialog modal-lg">
                <div class = "modal-content header">
                    <div class = "modal-header">
                        <h4 class = "modal-title">Edit Player</h4>
                        <button type = "button" class = "close" data-dismiss = "modal">&times;
                        </button>
                    </div>
                    <div class = "modal-body" id="editPlayer-ModalBody">
                        <div class="form-group row ">
                            <div class="col-xs-2 margin-inputtext">
                                <div class="dropdown">
                                    <button onClick = "javascript:getPlayers('1')" class="btn dropdown-toggle" type="button" id="ChoosePlayerDropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        CHOOSE PLAYER
                                    </button>
                                    <div id = "dynamic-dropdown1" class="dropdown-menu" aria-labelledby="ChoosePlayerDropdown1">
                                      <a class="dropdown-item" href="#"></a>
                                    </div>
                                </div>
                            </div>
                          </div>
                            <div class = "modal-footer" id="editPlayer-ModalFooter">
                                <button id="Edit-Button" onClick="javascript:displayEditTable()" type = "button" class = "btn btn-danger"> Edit Player</button>
                                <button id="Close-Button" type = "button" class = "btn btn-danger" data-dismiss="modal" onClick="javascript:resetEditPlayer()" > Close </button>
                            </div>
                        </div>                                    
                    </div>
                </div>
            </div>

        <!-- MODAL FOR NOTIFICATIONS-->
        <div class = "modal" id = "NotificationModal">
            <div class = "modal-dialog">
                <div class = "modal-content notification">
                    <div class = "modal-header">
                        <h4 class = "modal-title">NOTIFICATION</h4>
                    </div>
                    <div class = "modal-body">
                            <h1 id="ErrorText"></h1>
                            <div class = "modal-footer">
                                <button id="Okay-Button" type = "button" class = "btn btn-danger" data-dismiss="modal"> Okay </button>
                            </div>
                        </div>                                    
                    </div>
                </div>
            </div> 


        <!-- MODAL FOR MATCH SETUP -->
        <div class = "modal" id = "MatchSetupModal">
            <div class = "modal-dialog">
                <div class = "modal-content header">
                    <!-- Modal Header-->
                    <div class = "modal-header">
                        <h4 class = "modal-title"> Match Setup</h4>
                        <button type = "button" class = "close" data-dismiss = "modal">&times;
                        </button>
                    </div>
                    <!-- Modal Body-->
                    <div class = "modal-body">
                        <div class="form-group row">
                        <div class="dropdown">
                            <div class="col-xs-2 margin-inputtext">
                            <!-- First button for Player 1-->
                            <button onClick = "javascript:getPlayers('3')" class="btn dropdown-toggle" type="button" id="Player1SetUpDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select Player 1
                            </button>
                            <div id = "dynamic-dropdown3" class="dropdown-menu" aria-labelledby="Player1SetUpDropdown">
                              <a class="dropdown-item" href="#"></a>
                            </div>
                            </div>
                        </div>
                        <div class = "dropdown">
                            <div class="col-xs-2 margin-inputtext">
                             <!-- Second button for Player 2-->
                             <button onClick = "javascript:getPlayers('4')" class="btn dropdown-toggle" type="button" id="Player2SetUpDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select Player 2
                            </button>
                            <div id = "dynamic-dropdown4" class="dropdown-menu" aria-labelledby="Player2SetUpDropdown">
                              <a class="dropdown-item" href="#"></a>
                            </div>
                            </div>
                        </div>
                        <div class = "dropdown">
                            <div class="col-xs-2 margin-inputtext">
                                <!-- Button to select the score amount -->
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="ScoreSetUpDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Select Score
                            </button>                                     
                            <div class="dropdown-menu" aria-labelledby="ScoreSetUpDropdown">
                                <a class="dropdown-item" href="#">301</a>
                                <a class="dropdown-item" href="#">501</a>
                                <a class="dropdown-item" href="#">801</a>
                            </div>
                            </div>
                        </div>
                        <div class = "dropdown">
                            <div class="col-xs-2 margin-inputtext">
                             <!-- Button for Match Type-->
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="MatchType" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Match Type
                            </button>                                            
                            <div class="dropdown-menu" aria-labelledby="Player2SetUpDropdown">
                            <a class="dropdown-item" href="#">Tournament</a>
                            <a class="dropdown-item" href="#">Game</a>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                <div class="form-group row">
                    <div class="col-xs-2 margin-inputtext">
                        <label for="NumberOfSets"> Number of Sets:</label>
                        <input placeholder = 0 type="number" class="form-control" min=0 id="NumberOfSets">
                    </div>
                
                    <div class="col-xs-2 margin-inputtext">
                        <label for="NumberOfLegs"> Number of Legs:</label>
                        <input placeholder = 0 type="number" class="form-control" min=0 id="NumberOfLegs">
                    </div>

                    <div class="col-xs-2 margin-inputtext">
                        <label for="NumberOfLegs"> Number of Matches:</label>
                        <input placeholder = 0 type="number" class="form-control" min=0 id="NumberOfLegs">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-2 margin-inputtext">
                        <label for="NumberOfLegs"> Match Location:</label>
                        <input placeholder = "Location" type="string" class="form-control" min=0 id="MatchLocation">
                    </div>
                    <div class="col-xs-2 margin-inputtext">
                        <label for="NumberOfLegs"> Match Date:</label>
                        <input placeholder = "Date" type="date" class="form-control" min=0 id="MatchDate">
                    </div>
                </div>
                    <!-- Modal Footer -->
                    <div class = "modal-footer">
                        <button type = "button" class = "btn btn-danger" data-dismiss="modal"> Close </button>
                    </div>
                                                  
            </div>
            </div>
        </div>
            
            
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="{{ url_for('.static', filename='javascript/addplayer-modal.js')}}"></script>
        <script src="{{ url_for('.static', filename='javascript/deleteplayer-modal.js')}}"></script>
        <script src="{{ url_for('.static', filename='javascript/editplayer-modal.js')}}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
